.container {
  margin: 0;
  padding: 0;
}

.row-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border: 1px solid #e8e8e8;
}

.row-card .col {
  height: 80vh;
  width: 300vw;
}

.container .row-12 .container-flex .row {
  background: var(--primary-100);
  width: 83vw;
}

.button-cust {
  border: none;
  appearance: none;
  padding: 12px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  width: 100%;
  font-size: 0.8rem;
  transition: 0.3s;
  opacity: 1;
  margin-bottom: 25px;

  &:hover {
    opacity: 0.9;
    background: var(-primary-200);
    cursor: pointer;
  }
}
