.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  margin-bottom: 50px;
}

.or {
  color: rgba(31, 34, 37, 0.6);
  line-height: 21px;
}

.form-control {
  border: 1px solid #d0d0d0;
  appearance: none;
  padding: 12px;
  background: #f7f7f7;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 250px;
  font-size: 0.8rem;
  outline: none;

  &:focus {
    &::placeholder {
      color: transparent;
      transition: color 0.3s ease;
    }
  }
}

.btn-primary {
  border: none;
  appearance: none;
  padding: 12px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  width: 100%;
  font-size: 0.8rem;
  transition: 0.3s;
  opacity: 1;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.log-apple,
.log-google {
  border: none;
  appearance: none;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  font-size: 0.8rem;
  margin-bottom: 20px;
  transition: 0.3s;
  opacity: 1;
}

.log-apple {
  background-color: #000;
  color: #fff;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.log-google {
  background-color: #fff;
  color: #000;
  border: 1px solid #d0d0d0;
  &:hover {
    background-color: #d0d0d0;
    cursor: pointer;
  }
}

.logo {
  padding-right: 10px;
  height: 2vmin;
}
