<div class="container">
  <div class="row-12">
    <div class="container-flex">
      <div class="row">
        <div class="col m-2 py-4 col-offset-2">
          <h1 class="mb-1">Mis desprendibles</h1>
          <p class="mt-0">A continuación se mostrarán sus desprendibles.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row-card row-12">
    <div class="m-0 py-4">
      <div class="px-4 col-12">
        <table>
          <p-table
            [columns]="cols"
            [value]="filesData"
            responsiveLayout="scroll"
            csvSeparator="|"
            selectionMode="checkbox"
            [(selection)]="selectedFiles"
            [paginator]="true"
            [rows]="10"
            [pageLinks]="5"
            show-filter="true"
            dataKey="id"
          >
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3em">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" style="width: 70%">
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td>
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td>
                  {{ rowData.fileName }}
                </td>
                <td style="width: 50%">
                  {{ rowData.date_create | date }}
                </td>

                <td>
                  <div style="text-align: center">
                    <button
                      type="button"
                      style="margin-right: 1em"
                      class="btn"
                      (click)="downloadFile(rowData)"
                    >
                      <i class="pi pi-download" style="font-size: 2rem"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </table>
      </div>
    </div>
  </div>
</div>
