<div class="container">
  <div class="row">
    <div class="col-3" style="height: 100vh; border-right: 1px solid #ececec">
      <div class="user">
        <img src="assets/avatar.svg" style="width: 70%; margin-bottom: 15px" />
        <h4>{{ userData?.firstName }} {{ userData?.lastName }}</h4>
      </div>
      <div class="vertical-menu">
        <a
          *ngFor="let item of menuItems"
          [routerLink]="item.routerLink"
          [routerLinkActive]="'active'"
          class="vertical-menu-item"
          ><i class="{{ item.icon }}"></i>{{ item.label }}</a
        >
      </div>
    </div>
    <div class="col-9">
      <div class="row-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
