<div class="app">
  <div class="welcome">
    <h2>Let's get started!</h2>
  </div>
  <div class="form">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div *ngIf="options.id === 'sign-up'">
        <div>
          <input
            formControlName="firstName"
            type="name"
            placeholder="Name"
            class="form-control"
          />
        </div>
        <div>
          <input
            formControlName="lastName"
            type="name"
            placeholder="Name"
            class="form-control"
          />
        </div>
      </div>
      <div>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          placeholder="Email"
        />
      </div>
      <div>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-primary">
        {{ options.label }}
      </button>
    </form>
  </div>

  <br />
  <p *ngIf="options.id === 'sign-in'">
    I don't have an account, I want to
    <a [routerLink]="['/sign-up']">sign up</a>
  </p>
  <p *ngIf="options.id === 'sign-up'">
    I have an account, I want to <a [routerLink]="['/sign-in']">sign in</a>
  </p>
  <br />
  <!-- </div> -->
</div>

<p-toast></p-toast>
